@import './reset.scss';

$font-stack: Montserrat, sans-serif;
$light-color: #f5f5f5;
$acsent-color: #a3d048;
$dark-color: #090909;
$border-radius: 8px;
$desktop: 1200px;
$mobile: 768px;

body {
  display: block;
  width: 100%;
  background-color: $dark-color;
  color: $light-color;
  font-family: $font-stack;
  border-radius: $border-radius;
}
button {
  background: $dark-color;
  color: $light-color;
  border: 1px solid $light-color;
}
